$headerColor: #81b9bf; 
$footerColor: #81b9bf;
$bgColor: #d2d2d2;
$borderColor: #4bacb8;
$textColor: black;
$buttonColor: #ef5350;
$containerBgColor: hsla(180, 100%, 95%, 0.8);
$logoutButtonColor: #b2ebf2; 
$secondButtonColor: #81b9bf; 
