$headerColor: #7F8FA3;
$footerColor: #7F8FA3;
$cardColor: #D5E6ED;
$bgColor: #E9E8E9;
$borderColor: #77DDF9;
$textColor: #1b1d1d;
$headlineColor: #7F8FA3;
$buttonColor: rgb(59, 179, 212);
$containerBgColor: #BABDBF;
$logoutButtonColor: #b2ebf2; 
$secondButtonColor: #FFA0A3; 
