.main-footer {
    height: 30px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    background-color: #48acb8;
    color: #194D3B;
    
    h1 {
        padding: 20px 20px 20px 20px;
        
    }
}