$mainFont: 'Raleway', sans-serif;


body {
    display: block;
    margin: 0 auto;
    font-family: $mainFont;
    list-style: none;
    text-decoration: none;
    @media screen and (min-width: 720px) {
        background-color: #fafafa;
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.logo-begin-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.logo-main-page {
    width: 60px;
    height: 60px;
    //background-image: url('../images/roomies burger-04-05.png');
    background-size: contain;
    background-repeat: no-repeat;
    font-family: $mainFont;
    font-size: 1.5em;
}
.app-description {
    color: #ef5350;
    font-weight: 900;
    letter-spacing: 0.5px;
    font-size: 2.4em;
    vertical-align: sub;
    display: flex;
    align-self: flex-end;
}
.main-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.background-image {
        background-image: url('../images/home.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh;
    }
}

.content-wrapper {
    height: 100%;
    width: 80%;
     @media screen and (max-width: 600px) {
        width: 100%;
    }
    @media screen and (min-width: 720px) {
        margin-top: 200px;
    }

    background-color: $containerBgColor;
    max-width: 720px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(115, 115, 115, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(115, 115, 115, 1);
    box-shadow: 1px 1px 2px 0px rgba(115, 115, 115, 1);

}



h2 {
    font-family: $mainFont;
    color: $textColor;
    margin: 20px auto;
    width: 220px;
    text-align: center;
    font-size: 1.5em;
    a {
        color: #4bacb8;
        &:hover {
            color: #80deea;
        }
    }
}

.page-center-height {
   height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

a {
    text-decoration: none;
    color: $textColor;
}

.button {
width: 130px;
padding: 15px 0 15px 0;
margin: 17px 0 17px 0;
background-color: $buttonColor;
color: white;
font-family: "Raleway", sans-serif;
font-size: 0.8em;
text-transform: uppercase; 
transition: all .2s ease-in-out;
border-radius: 25px;
border: 1px solid lightslategrey;
transition: all .2s ease-in-out;
&:hover {
    transform: scale(1.1);
}
}