$mainFont: 'Raleway', sans-serif;
$headlineFont: 'Raleway-bold', sans-serif;

body {
    display: block;
    margin: 0 auto;
    font-family: $mainFont;
    list-style: none;
    text-decoration: none;
    @media screen and (min-width: 720px) {
        background-color: #fafafa;
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.logo-begin-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.logo-main-page {
    width: 60px;
    height: 60px;
    background-image: url('./images/roomies burger-04-05.png');
    background-size: contain;
    background-repeat: no-repeat;
    font-family: $mainFont;
    font-size: 1.5em;
}
.app-description {
    color: #ef5350;
    font-weight: 900;
    letter-spacing: 0.5px;
    font-size: 2.4em;
    vertical-align: sub;
    display: flex;
    align-self: flex-end;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    width: 80%;
    overflow: hidden;
     @media screen and (max-width: 600px) {
        width: 100%;
    }
    @media screen and (min-width: 720px) {
        margin-top: 10px;
    }
    max-width: 720px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;

}

h2 {
    font-family: $headlineFont;
    color: $headlineColor;
    margin: 20px auto;
    width: 220px;
    text-align: center;
    font-size: 1.5em;
    a {
        color: #4bacb8;
        &:hover {
            color: #80deea;
        }
    }
}

.page-center-height {
   height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

a {
    text-decoration: none;
    color: $textColor;
}

.button {
width: 130px;
padding: 15px 0 15px 0;
margin: 17px 0 17px 0;
background-color: $buttonColor;
color: white;
font-family: $headlineFont;
font-weight: 500;
font-size: 1em;
//text-transform: uppercase; 
transition: all .2s ease-in-out;
border-radius: 7px;
border: 0px solid lightslategrey;
transition: all .2s ease-in-out;

}

.material-icons {
    color: $secondButtonColor;
    font-size: 40px;
}