.navigation {
        height: auto;
        position: relative;
        width: 100vw;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:$headlineColor;
        height: 45px;
        justify-content: center;
        border-bottom: 1px solid black;
        box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.33);

        div {
            justify-content: center;
        }
}
.navigation-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    max-width: 800px;
    padding: 5px;
    .user-info {
        display: none;
        .email {
            color: $containerBgColor;
        }
    }
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        li {
            margin: 5px 25px;

            a {
                color: white;
                letter-spacing: .5px;
                font-family: $headlineFont;
                .avatar{
                    width: 30px;
                    min-width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    font-size: 1em;
                    background-color: $secondButtonColor;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 3px;
                    color: white;
                }
            }
             
        }
    }
    @media screen and (max-width: 720px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    .user-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        background-color: $footerColor;
        height: 45vh;
        //background-image: url('./images/home-mobile.png');
        background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    align-items: flex-end;

        .email {
            color: $textColor;
            font-size: .9em;
            height: 1.2em;
            width: 100%;
            text-align: right;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white);
            font-family: $headlineFont;
            padding-right: 4px;
        }
        .welcome {
            font-size: 1.5em;
            color: white;
            padding: 0 5px 5px 0;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
        }
    }
    }
}
@media screen and (max-width: 720px) {
    .navigation {
        height: 100vh;
        position: fixed;
        width: 80%;
        left: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0px;
        z-index: 100;
        background-color: $footerColor;
        //border-right: 3px solid $borderColor;
        box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.33);

        div {
            justify-content: center;
        }
        
    }
    .hideMenu {
        transform: translate3d(-100vw, 0, 0);
    }
    
    .showMenu {
        left: 0;
        transform: translate3d(0vw, 0, 0);
        overflow: hidden;
        transition: transform .3s cubic-bezier(0, .52, 0, 1);
        ul {
            display: flex;
            flex-direction: column;
            // align-items: center;
            text-decoration: none; 
            color: white;
            margin: 20px auto 0 auto;
            padding-bottom: 20px;
            li a {
                color: white;
                text-decoration: none;
                line-height: 1.5em;
            }
        }
    }

}



.burger-menu-icon {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('./images/icons8-top-menu-60.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 6px auto 0 auto;
    z-index: 1000;
    @media screen and (min-width: 720px) {
        display: none;
        }
     @keyframes bounce {
        0% {
          left: 5px;
        }
        50% {
          left: 10px;
        }
        100% {
          left: 0px;
        }
      }
      
    &:hover {
        cursor: pointer;
        animation: bounce 1s 1 ease; 
    }
}